{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'search/main.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet"> 
  <style>
    .menu1 {
      display: inline-block;
    line-height: 1em;
    font-family: 'Courgette', cursive;
    color: #E43584;
    text-shadow: 2px 2px #fff;
    }

    .para {
    /* The image used */
    background-image: url("{% static 'search/slide3.jpg' %}");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
  </style>
  <title>I Love Smoothies</title>
</head>

<!-- <img src="{% static 'search/logo.png' %}" alt="logo" width="55" height="55"> -->
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background: linear-gradient( rgba(0, 0, 0, 1), rgba(0,0,0,0));">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'search/finshed_logo.png' %}" alt="" width="55" height="55">
    </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" style="color: white;" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#features">Gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color: white;" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/admin">login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id='home' class="parallax">
    <div class="clearfix center" style="padding-top: 5%;">
      <img class="responsive-image"src="{% static 'search/finshed_logo.png' %}" alt="logo">
      <h1 class="ml6" style="font-size: 100px;">
        <span class="text-wrapper">
          <span class="letters">I love Smoothies</span>
        </span>
      </h1>
    </div>
  
  </div>

    <div class="container-fluid" style="height: auto; padding: auto;">
      <div id='features'>
        <div class="center">
          <h1 class="ml6" style="font-size: 90px;">
            
              <span class="menu1">Gallery</span>
          
          </h1>
        </div>
      <div class="row " >
      {% csrf_token %}
      {% for results in image %}
      <div class="col">
        <img id='myImg' class='img-fluid img-thumbnail rounded mx-auto d-block' src="{{results.img.url}}" alt="{{results.title}}" title="{{results.title}}" width="220" height="250" style="padding-bottom: 4%;">
        
        </div>
      {% endfor %}
      </div>
      <div class="modal">
        <span class="close">×</span>
        <img class="modalImage" id="img01" />
        </div>
    </div>
    
    </div>
   


  <div style="background: white;">
  <div class='container-fluid ' style="height: auto;">
      <div class="center">
        <h1 id="menu" class="ml6" style="font-size: 90px;">
          <span class="text-wrapper">
            <span class="menu1 letters">Our Menu</span>
          </span>
        </h1>
      </div>

      <div class="center">
      <div class="row">
        {% csrf_token %}
        {% for item in item%}  
        <div class="col">
          <h2 class="menu1">{{item.title}}</h2>
          <p>{{item.discription}}</p>
          <p style="background: #e43584;border-radius: 11px;"><span style="color: white;">{{item.price}}</span></p>
        </div>
      
      {% endfor  %}
      </div>
      </div>
    
      </div>

  </div>

  <div id='contact'class="parallax">
  <div class="clearfix " style="padding-top: 5%;">
    <div class="container">
      <form action="" method="post">
        {% csrf_token %}
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">


        <label for="email">Email address</label>
        <input type="text" id="email" name="email" placeholder="name@example.com">

        <label for="message">Message</label>
        <textarea name="message" id="message" style="height: 200px;" placeholder="Write something.."></textarea>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

  </div>



  <footer>
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
      <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
    </ul>
    

    <ul class="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#features">Gallery</a></li>
      <li><a href="#menu">Menu</a></li>
    </ul>
    
    <p><span>CALL US : (714)605-0679</span></p>
    <p><span>7151 kateila Ave, Stanton CA 90680</span></p>
    <p><span>&copy;</span>2021 Smoothie | All Rights Reserved</p>
    
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
  <script>
    var modalEle = document.querySelector(".modal");
var modalImage = document.querySelector(".modalImage");
Array.from(document.querySelectorAll(".img-fluid")).forEach(item => {
   item.addEventListener("click", event => {
      modalEle.style.display = "block";
      modalImage.src = event.target.src;
   });
});
document.querySelector(".close").addEventListener("click", () => {
   modalEle.style.display = "none";
});
  </script>
<script>
  // Accepts any class name
  var rellax = new Rellax('.rellax');
</script>
  <script>
          var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active1", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}
        </script>

  <script>
    // Wrap every letter in a span
var textWrapper = document.querySelector('.ml6 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
  
  </script>
</body>
</html>